<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  
  <div class='keyboard'> 
  <div class='flex-container'>
  <% @keys[0..10].each do |key| %>
    
      <%= button_to key, try_game_path(:character => key), method: :post, class: "white" %>
    <% end %> 
  
</div>
<div class='flex-container'>
  <% @keys[10..20].each do |key| %>
    
      <%= button_to key, try_game_path(:character => key), method: :post, class: "white" %>
    <% end %> 
  
</div>
<div class='flex-container'>
  <% @keys[20..26].each do |key| %>
    
      <%= button_to key, try_game_path(:character => key), method: :post, class: "white" %>
    <% end %> 
  
</div>
  </div>
<% @game.words.map do |word| %>
  <div class='word-content'>
    <%= word.content %> 
    
      <% if !@game.known_indexes.empty? %>
        <% word.content.split('').each_with_index do |char, index| %>
           <% if @game.known_indexes.include?(index) %>
            <span><%= char %></span>
          <% else %>
            <span>_</span>
           <% end %>
        <% end %>
     <% end %>
    
  </div>
<% end %>

<div class='center'>
  <%= form_tag check_game_path, method: :post do %>
   <%= text_field_tag :check %>
   <%= submit_tag 'guess!', class: 'submit' %>
<% end %>
</div>
<div class='last-items'>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, class: 'destroy', method: :delete %>
</div>
